{% extends '/layout/layout.html.twig' %}

{% block content%}
    <body>

    <div class="boxed_wrapper">



        <!--Page Title-->
        <section class="page-title-two bg-color-1 centred">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div>
            </div>
            <div class="auto-container">
                <div class="content-box clearfix">
                    <h1>Bois</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="accueil">Accueil</a></li>
                        <li>Bois</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- property-page-section -->
        <section class="property-page-section property-grid">
            <div class="auto-container">
                {% include 'layout/search.html.twig' %}
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="property-content-side">
                            <div class="wrapper grid">
                                <div class="deals-grid-content grid-item">
                                    <div class="row clearfix">
                                        {% for bien in biens %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                            <div class="feature-block-one">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><img src="assets/images/image8.jpg" alt=""></figure>
                                                    </div>
                                                    <div class="lower-content">
                                                        <div class="title-text"><h4>{{ bien.titrebien }}</h4></div>
                                                        <div class="price-box clearfix">
                                                            <div class="price-info pull-left">
                                                                <h4>{{ bien.prixbien }}€</h4>
                                                            </div>
                                                            <ul class="other-option pull-right clearfix">
                                                                <li><a href="favoris"><i class="icon-13"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <p>{{ bien.descriptionbien }}</p>
                                                        <ul class="more-details clearfix">
                                                            <li>{{ bien.surfacebien }}</li>
                                                        </ul>
                                                        <div class="btn-box"><a href="details" class="theme-btn btn-two">Voir les détails</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-wrapper">
                                <ul class="pagination clearfix">
                                    <li><a href="bois" class="current">1</a></li>
                                    <li><a>2</a></li>
                                    <li><a>3</a></li>
                                    <li><a><i class="fas fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- property-page-section end -->



        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="fal fa-angle-up"></span>
        </button>
    </div>




    </body>
    <!-- End of .page_wrapper -->

{% endblock content %}
