
{% extends 'layout/layout.html.twig' %}

{% block content %}

    <!-- page wrapper -->
    <body>

    <div class="boxed_wrapper">

        <!--Page Title-->
        <section class="page-title centred" style="background-image: url(assets/images/image20.jpg);">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <h1>Nous contacter</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="accueil">Accueil</a></li>
                        <li>Nous contacter</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- contact-info-section -->
        <section class="contact-info-section sec-pad centred">
            <div class="auto-container">
                <div class="sec-title">
                    <h5>Nous contacter</h5>
                    <h2>Entrer en contact avec la safer</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 info-block">
                        <div class="info-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-32"></i></div>
                                <h4>Email</h4>
                                <p><a href="mailto:saferimmo@mail.com">saferimmo@mail.com</a><br /><a href="mailto:safer@mail.com">safer@mail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 info-block">
                        <div class="info-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-33"></i></div>
                                <h4>Téléphone</h4>
                                <p><a href="tel:+33 6 12 34 56 78">+33 6 12 34 56 78</a><br /><a href="tel:+33 6 98 76 54 32">+33 6 98 76 54 32</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 info-block">
                        <div class="info-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-34"></i></div>
                                <h4>Siège</h4>
                                <p>263 Avenue du Général Leclerc <br />35000 Rennes, France</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-info-section end -->


        <!-- contact-section -->
        <section class="contact-section bg-color-1">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <div class="sec-title">
                                <h5>Contact</h5>
                                <h2>Nous contacter</h2>
                            </div>
                            <div class="form-inner">
                                <form method="post" action="sendemail.php" id="contact-form">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="username" placeholder="Votre nom" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="email" name="email" placeholder="Email" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="phone" placeholder="Téléphone" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="subject" placeholder="Sujet" required="">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                            <button class="theme-btn btn-one" type="submit" name="submit-form">Envoyer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 map-column">
                        <div class="google-map-area">
                            <div
                                    class="google-map"
                                    id="contact-google-map"
                                    data-map-lat="40.712776"
                                    data-map-lng="-74.005974"
                                    data-icon-path="assets/images/icons/map-marker.png"
                                    data-map-title="Rennes, Bretagne, France"
                                    data-map-zoom="12"
                                    data-markers='{
                                    "marker-1": [40.712776, -74.005974, "<h4>Branch Office</h4><p>77/99 Rennes</p>","assets/images/icons/map-marker.png"]
                                }'>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-section end -->



        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="fal fa-angle-up"></span>
        </button>
    </div>



    </body><!-- End of .page_wrapper -->
{% endblock content %}
