
<div class="search-field">
    <div class="tabs-box">
        <div class="tabs-content info-group">
            <div class="tab active-tab" id="tab-1">
                <div class="inner-box">
                    <div class="top-search">
                        <form action="biens" method="post" class="search-form">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        <label>Mots clés</label>
                                        <div class="field-input">
                                            <i class="fas fa-search"></i>
                                            <input type="search" name="search-field" placeholder="Recherche par mots clés" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 column">
                                    <div class="form-group">
                                        <label>Localisation</label>
                                        <div class="select-box">
                                            <i class="far fa-compass"></i>
                                            <select class="wide">
                                                <option data-display="Recherche par ville">Recherche par ville</option>
                                                <option value="1">Rennes</option>
                                                <option value="2">Paris</option>
                                                <option value="3">Lyon</option>
                                                <option value="4">Marseille</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 column">
                                    <div class="form-group">
                                        <label>Prix min</label>
                                        <div class="field-input">
                                            <input type="search" name="search-field" placeholder="Prix minimal" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 column">
                                    <div class="form-group">
                                        <label>Prix max</label>
                                        <div class="field-input">
                                            <input type="search" name="search-field" placeholder="Prix maximal" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-btn">
                                <button type="submit"><a href="{{ path ('app_biens') }}"><i class="fas fa-search"></i></a>Rechercher</button>
                            </div>
                        </form>
                    </div>
                    <div class="switch_btn_one ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>