{% extends 'layout/layout.html.twig' %}

{% block content %}

    <!-- page wrapper -->
    <body>

    <div class="boxed_wrapper">

        <!--Page Title-->
        <section class="page-title centred" style="background-image: url(assets/images/image20.jpg);">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <h1>Vos favoris</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="accueil">Accueil</a></li>
                        <li>Favoris</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

{% endblock content %}